/* Adjust the position of the dropdown menu for larger screens */
.dropdown-menu-left {
    left: -100px;
    /* Adjust this value as needed */
}

/* Adjust the position of the dropdown menu for smaller screens */
@media (max-width: 300px) {
    .dropdown-menu-left {
        left: 0;
        /* Ensure the dropdown menu is fully visible on small screens */
        right: 0;
        /* Center the dropdown menu on small screens */
    }
}