<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Angular App</a>
    <div class="dropdown">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbarDropdownMenuLink"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Menu
      </a>
      <ul
        class="dropdown-menu dropdown-menu-left"
        aria-labelledby="navbarDropdownMenuLink"
      >
        <li class="dropdown-submenu">
          <a
            class="dropdown-item dropdown-toggle"
            href="#"
            id="navbarDropdownSubMenuLink"
            role="button"
            aria-expanded="false"
          >
            SubMenu
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownSubMenuLink">
            <li *ngFor="let item of subMenu">
              <a
                class="dropdown-item"
                [routerLink]="item.path"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                {{ item.text }}
              </a>
            </li>
          </ul>
        </li>
        <li *ngFor="let item of menu">
          <a
            class="dropdown-item"
            [routerLink]="item.path"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            {{ item.text }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
