<div class="border border-2 border-primary m-3 text-center bg-blue-100">
  <h4 class="m-0 bg-blue-300 p-2">{{ componentName }}</h4>
  <div
    class="border border-2 border-primary-subtle p-3 m-3 text-center flex flex-row justify-content-around"
  >
    <div class="row">
      <div class="col">
        <img
          src="{{ imageURL }}"
          alt="{{ imageALT }}"
          title="{{ imageTooltip }}"
        />
        <button
          disabled="{{ buttonDisabled ? 'disable' : null }}"
          class="btn btn-primary"
        >
          {{ buttonPrompt }}
        </button>
      </div>
      <div class="col">
        <img [src]="imageURL" [alt]="imageALT" [title]="imageTooltip" />
        <button [disabled]="buttonDisabled" class="btn btn-primary">
          {{ buttonPrompt }}
        </button>
      </div>
    </div>
  </div>
  <div class="border border-2 border-primary-subtle p-3 m-3 text-center">
    <div class="row align-items-center">
      <div class="col-md-4 mb-3">
        <input
          #userInputElement
          (input)="onUserInput($event)"
          class="form-control"
          type="text"
          placeholder="Enter text here"
        />
      </div>
      <div class="col-md-4 mb-3">
        <div
          class="border p-2 bg-light overflow-auto"
          style="max-height: 100px; word-wrap: break-word"
        >
          {{ userInput }}
        </div>
      </div>
      <div class="col-md-4 mb-2">
        <button
          (click)="onUserInputReset(userInputElement)"
          class="btn btn-primary text-white w-100"
        >
          Reset Input
        </button>
      </div>
    </div>
  </div>
</div>
