<div class="border border-2 border-primary p-3 m-3 text-center">
  <h1>
    Welcome to Angular <br />
    <strong class="text-primary">{{ title }} application</strong>
  </h1>
  <p>Nice to meet you!</p>
</div>
<div class="border border-2 border-success p-3 m-3">
  <h2 class="text-success text-center">Introduction to Our Angular App</h2>
  <p>This application is designed to help you get started with Angular.</p>
  <ul>
    <li>Learn the basics of Angular</li>
    <li>Explore Angular components</li>
    <li>Understand Angular services and dependency injection</li>
    <li>Build and deploy Angular applications</li>
  </ul>
  <p>We hope you enjoy learning and building with Angular!</p>
</div>
<app-my-hello></app-my-hello>
<app-event-bind></app-event-bind>
<app-two-way-bind></app-two-way-bind>
<app-structural-directives></app-structural-directives>
