<div class="border border-2 border-warning m-3 text-center bg-yellow-100">
  <h4 class="m-0 bg-yellow-200 p-2">{{ componentName }}</h4>
  <div class="border border-2 border-warning-subtle p-3 m-3 text-center">
    <div class="row align-items-center">
      <div class="col-md-4 mb-3">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="userInput"
          placeholder="Enter text here"
        />
      </div>
      <div class="col-md-4 mb-3">
        <div
          class="border p-2 bg-light overflow-auto"
          style="max-height: 100px; word-wrap: break-word"
        >
          {{ userInput }}
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <button
          class="btn btn-warning text-white w-100"
          (click)="userInput = ''"
        >
          Reset Input
        </button>
      </div>
    </div>
  </div>
</div>
