<div class="border border-2 border-primary m-3 text-center bg-blue-100">
  <h4 class="m-0 bg-blue-300 p-2">{{ componentName }}</h4>
  <div class="border border-2 border-primary-subtle p-3 m-3 text-center">
    <app-simple-table></app-simple-table>
    <app-second-table
      (deleteUser)="onDeleteUser($event)"
      (sendUser)="onSendUser($event)"
      [userData]="userData"
    ></app-second-table>
    <div *ngIf="receivedUser" class="card m-3">
      <div class="card-body">
        <h4 class="card-title">
          {{ receivedUser.name.last }}
        </h4>
        <h6 class="card-subtitle">
          {{ receivedUser.name.first }} {{ receivedUser.name.last }}'s age is
          {{ receivedUser.age }}
        </h6>
      </div>
    </div>
  </div>
</div>
